$roboto-slab: "Roboto Slab",Arial,sans-serif;
$roboto: "Roboto",Arial,sans-serif;
$color-main: #333;
$color-dark: #1a1a1a;

$how-bg-1: #FCCF97;
$how-bg-2: #F2A75E;
$how-bg-3: #F28B32;
$how-bg-4: #EA6F1C;