.footer{
	padding-bottom: 70px;
	background: url('../img/bg-top.png') center 0 no-repeat,url('../img/bg-bottom.png') center 100% no-repeat;
	& .section-header{
		margin-bottom: 57px;
		margin-top: -30px;
	}
}
.form-order{
	display:block;
	margin: 0 auto 63px;
	padding: 24px 20px 8px;
	max-width: 582px;
	border: 5px solid #DBDBD2;
	border-radius: 9px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}
.form-header{
	font-size: 35px;
	font-size: 2.1875rem;
	line-height: 43px;
	line-height: 2.7rem;
	font-weight: 500;
	color: $color-dark;
	margin-bottom: 20px;
}
.form-info{
	color: #666;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 18px;
	line-height: 1.125rem;
	margin-bottom: 21px;
	width: 100%;
	max-width: 438px;
	margin: 0 auto 21px;
	text-align: left;
	font-family: $myriad;
	&.center{
		text-align: center;
	}
}
.f_Text{
	width: 100%;
	max-width: 438px;
	height: 71px;
	border: 3px solid #DBDBD2;
	border-radius: 8px;
	margin-bottom: 20px;
	transition: all 0.2s ease-out;
	color: #B3B3B3;
	font-size: 21px;
	line-height: 70px;
	text-align: center;
	&.f_Error{
		border-color: $color-error;
		box-shadow: 0 0 5px $color-error;
	}
	&:focus{
		border-color: $color-focus;
		box-shadow: 0 0 5px $color-focus;
	}
}
.f_Submit{
	cursor: pointer;
	width: 100%;
	max-width: 438px;
	height: 81px;
	line-height: 76px;
	font-size: 30px;
	font-size: 1.875rem;
	border: none;
	margin-top: 6px;
	margin-bottom: 23px;
}
.footer-bottom{
	font-size: 22px;
	font-size: 1.375rem;
	line-height: 24px;
	line-height: 1.25rem;
	text-align: center;
	font-family: $myriad;
	a{
		text-decoration: none;
		color: #666;
		border-bottom: 1px solid #666;
		padding-bottom: 1px;
		&:hover{
			border-bottom: 1px solid transparent;
		}
	}
}
@media only screen and (min-width : 1583px) {
	.footer{
		background-size: cover,cover;
		background-position: -1500px 0, -700px 100%;
	}
}
@media only screen and (min-width : 3000px) {
	.footer{
		background-position: -1500px 0, 1000px 100%;
	}
}