.menu-section{
	height: 785px;
}

.slider-wrap{
	position: relative;
	overflow: hidden;
	padding: 0 20%;
	border: 3px dashed red;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 20%;
		background: rgba(0,0,0,0.2);
	}
	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 20%;
		background: rgba(0,0,0,0.2);
	}

}
.slider-container{
	width: 100%;
	position: relative;
}
.slider-list{
	width: 20000px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.slider-item{
	list-style: none;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	padding: 0 28px;
	&:nth-child(1){background: red;}
	&:nth-child(2){background: green;}
	&:nth-child(3){background: blue;}
	&:nth-child(4){background: yellow;}
	&:nth-child(5){background: pink;}
}
.slider-button{
	position: absolute;
	left: 100px;
	top: 50%;
	font-size: 40px;
	z-index: 999;
}
.slider-next{
	left: auto;
	right: 100px;
}