.menu-section{
	padding-bottom: 103px;
}

.slider-wrap{
	position: relative;
	overflow: hidden;
	margin: 58px auto 0;
	max-width: 1580px;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 20%;
		background: linear-gradient(to right,#fff,transparent);
		z-index:999;
	}
	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 20%;
		background: linear-gradient(to left,#fff,transparent);
		z-index:999;
	}

}
.slider-container{
	width: 982px;
	margin: 0 auto;
	position: relative;
}
.slider-list{
	width: 20000px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.slider-item{
	list-style: none;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	padding: 0 28px;
}
.slider-button{
	position: absolute;
	left: -148px;
	top: 206px;
	font-size: 40px;
	z-index: 1000;
	width: 64px;
	height: 63px;
	background: url('../img/slider-arr.png') 0 0 no-repeat;
	text-indent: -9999999px;
}
.slider-next{
	left: auto;
	right: -148px;
	background-position: 0 -73px;
}

.slider-text{
	font-size: 21px;
	font-size: 1.3125rem;
	color: $color-dark;
	margin-top: 27px;
}

@media only screen and (max-width : 1280px) {
	.slider-wrap{
		padding: 0 10%;
	}
	.slider-container{
		width: 100%;
	}
	.slider-button{
		top: 35%;
		margin-top: -30px;
		left: -60px;
	}
	.slider-next{
		left: auto;
		right: -60px;
	}
}
@media only screen and (max-width : 762px) {
	.slider-item{
		padding: 0 5px;
	}
}
@media only screen and (max-width : 480px) {
	.slider-button{
		left: -20px;
	}
	.slider-next{
		left: auto;
		right: -20px;
	}
}

